#newPassword-page {
    background-color: #94add6;
    overflow: hidden;
    height: 100% !important;
}

#newPassword-page .sided-form {
    background-color: var(--body-bg);
    height: 100%;
    box-shadow: 0 4px 24px -12px black;
}

#newPassword-page .button-position {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#newPassword-page a {
    color: var(--primary);
    text-decoration: none;
}

#newPassword-page h1 {
    margin-bottom: 8rem;
}

#newPassword-page input[type="text"],
input[type="password"] {
    width: 25rem;
}
