#forgot-page {
    background-color: var(--secondary);
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    height: 100% !important;
}

#forgot-page .form-group {
    margin-bottom: 0.5rem;
}

#forgot-page .sided-form {
    background-color: var(--body-bg);
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 24px -12px black;
}

#forgot-page .logo {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

#forgot-page .logo img {
    height: 50px !important;
    width: auto !important;
}

#forgot-page .sided-form .sided-content {
    width: 75%;
}

#forgot-page .button-position {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#forgot-page a {
    color: var(--primary);
    text-decoration: none;
}

#forgot-page b {
    margin-bottom: 2rem;
    font-size: 16px;
}

@media only screen and (max-width: 1850px) {
    #forgot-page .sided-form {
        width: 40%;
    }
}

@media only screen and (max-width: 1100px) {
    #forgot-page .sided-form {
        width: 55%;
    }
}

@media only screen and (max-width: 800px) {
    #forgot-page .sided-form {
        width: 100%;
    }

    #forgot-page .sided-form .sided-content {
        width: 95%;
    }
}
