#forgotPassword-page {
    background-color: #94add6;
    overflow: hidden;
    height: 100% !important;
}

#forgotPassword-page .sided-form {
    background-color: var(--body-bg);
    height: 100%;
    box-shadow: 0 4px 24px -12px black;
}

#forgotPassword-page .button-position {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#forgotPassword-page a {
    color: var(--primary);
    text-decoration: none;
}

#forgotPassword-page input[type="text"],
input[type="password"] {
    width: 25rem;
}

#forgotPassword-page b {
    margin-bottom: 2rem;
    font-size: 16px;
}
